
div#windows11-desktop {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--background);
}

div#windows11-desktop {
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: background-image ease 1s;
}

div#windows11-desktop {

    span.desktop-select {
        z-index: 2;
        display: none;
        transition: 1s;
        position: absolute;
        border-radius: 0.2em;
        background: #ffffff30;
        transition: width 0.5s,height 0.5s;
    }

    span.desktop-select::before {
        inset: 0;
        content: "";
        padding: 2.5px;
        position: absolute;
        border-radius: 0.2em;
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        mask-clip: content-box,border-box;
        mask-image: linear-gradient(#ffffff 0 0),linear-gradient(#ffffff 0 0);
        background: linear-gradient(120deg, var(--dominColor), var(--seconColor));
    }

    div.desktop-apps {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    div.desktop-apps {
        width: 0;
        height: calc(100vh - 3.5rem);
        background-color: transparent;
    }

    div.desktop-apps {
        div.deskapp {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        div.deskapp {
            width: 4.625rem;
            height: 5.25rem;
            margin: 0.25rem;
            border-radius: 0.25rem;
            border: 1px solid transparent;
            transition: all ease-in-out 0.2s;
        }

        div.deskapp:hover {
            transition: 0.5s;
            background-color: var(--settingLayoutColor2);
        }

        div.deskapp {
            div.deskapp-content {
                width: 100%;
                height: 100%;
                display: grid;
                position: relative;
                place-items: center;

                img.deskapp-icon {
                    width: 2.4rem;
                    height: 2.5rem;
                    transition: 0.1s ease-in-out;
                }

                span.desapp-name {
                    margin-top: 4px;
                    color: #fafafa;
                    font-size: 0.8rem;
                    text-align: center;
                    text-shadow: 0 0 4px rgba(0,0,0,0.6);
                }

                img.deskapp-icon:active {
                    transform: scale(0.7);
                    transform-origin: center;
                    transition: 0.1s ease-in-out;
                }
            }
        }
    }
}