
i.task-icon-home {
    background-image: url(../image/icon/windowsui/notice.png);
}

i.task-icon-notice {
    background-image: url(../image/icon/windowsui/notice.png);
}

i.task-icon-home {
    background-image: url(../image/icon/home.png);
}

i.task-icon-setting {
    background-image: url(../image/icon/settings.png);
}

i.task-icon-explorer {
    background-image: url(../image/icon/explorer.png);
}

i.task-icon-edge {
    background-image: url(../image/icon/edge.png);
}

i.task-icon-store {
    background-image: url(../image/icon/store.png);
}

i.task-icon-widget {
    background-image: url(../image/icon/widget.png);
}

i.task-icon-wifi {
    background-image: url(../image/icon/windowsui/wifi.png);
}

i.task-icon-bluetooth {
    background-image: url(../image/icon/windowsui/bluetooth.png);
}

i.task-icon-plane {
    background-image: url(../image/icon/windowsui/airplane.png);
}

i.task-icon-battery {
    background-image: url(../image/icon/windowsui/saver.png);
}

i.task-icon-sun {
    background-image: url(../image/icon/windowsui/sun.png);
}

i.task-icon-moon {
    background-image: url(../image/icon/windowsui/moon.png);
}

i.task-icon-night {
    background-image: url(../image/icon/windowsui/nightlight.png);
}

i.task-icon-close {
    background-image: url(../image/icon/windowsui/close.png);
}

i.task-icon-keyboard {
    background-image: url(../image/icon/windowsui/keyboard.png);
}

i.task-icon-refresh {
    background-image: url(../image/icon/windowsui/refresh.png);
}

i.task-icon-brightness {
    background-image: url(../image/icon/windowsui/brightness.png);
}

i.task-icon-google {
    background-image: url(../image/icon/windowsui/google.png);
}

i.task-icon-audio0 {
    background-image: url(../image/icon/windowsui/audio0.png);
}

i.task-icon-audio1 {
    background-image: url(../image/icon/windowsui/audio1.png);
}

i.task-icon-audio2 {
    background-image: url(../image/icon/windowsui/audio2.png);
}

i.task-icon-audio3 {
    background-image: url(../image/icon/windowsui/audio3.png);
}

i.task-icon-shield {
    background-image: url(../image/icon/windowsui/shield.png);
}